.home-container{
    
    display: grid;
    grid-template-columns: 300px 700px 300px;
}

.right{
  position: sticky;
  height: calc(100vh - 50px);
}
.left{
    padding:10px;
    height: calc(100vh - 50px);
  overflow-y: scroll;
  position: sticky;
 
}
::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
  }

  .center{
    height: calc(100vh - 50px);
  overflow-y: scroll;
  position: sticky;
 
}
::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
  }