.post-paper{
   margin-left: 20px;
   margin-right: 20px;
   margin-top: 20px;
}
.post-top{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.top-flex{
    display: flex;
    align-items: center;
}
.post-top img{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin-top: 5px;
    margin-right: 10px;
}
.post-top input{
    width: 550px;
    margin-left: 30px;
}
.post-bottom{
  margin-left: 30px;
  padding-top: 20px;
  padding-bottom: 40px;
}
.post-bottom ul{
    list-style-type: none;
    display: flex;
}
.post-bottom li{
    padding-left: 10px;
}
.post-bottom span{
    padding-left: 10px;
}
.post-share{
    margin-left: 120px;
    background-color: green;
    font-weight: 600;
    color: white;
    padding-left: 3px;
    padding-right: 10px;
    border-radius: 5px;
    height: 35px;
}
.post-share:hover{
    cursor: pointer;
}
#red{
    color: rgb(226, 79, 79);
    
}
#green{
    color: green;
}
#yellow{
    color: rgb(165, 165, 3);
}
#blue{
    color: rgb(63, 63, 243);
}
.post-bottom input{
    width: 100px;
}
.pr img{
    width: 100%;
    height: 300px;
}
